

* {
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
main {
    vertical-align: middle;
}
main p {
    font-size: 2vw;
}

header {
    padding: 2%;
}

header button {
    margin-left: auto;
    text-decoration: none;
    color: blueviolet;
    font-size: 1.2vw;
    background-color: white;
    border: none;
    outline: none;
    
}

header h4 {
    display: inline-block;
}

.timer {
    font-size: 1.5vw;
    text-align: right;
    margin-left: 80%;
    }

.start-screen {
    padding: 12%;
    text-align: center;
    height: 50%;
    margin-top: auto;
}

.start-screen ul li {
    padding-top: 2%;
    text-align: center;
    list-style: none;
}

.start-screen h1 {
    font-size: 2.5vw;
}

.start-button {
    border-radius: 10%;
    color: seashell;
    font-size: 1.8vw;
    background-color: rgb(98, 0, 128);
}

.button {
    border-radius: 10%;
    color: seashell;
    font-size: 1.8vw;
    background-color: rgb(98, 0, 128);
    width: 40%;
}

footer {
    padding-bottom: 30%;
    width: 60%;
    margin-left: 20%;
}

footer h1 {
    color: grey;
    text-align: center;
    font-style: italic;
    border-top: 5px solid grey;
}

table {
    margin-left: 30%;
    table-layout: fixed;
    width: 40%;
    border-collapse: collapse;
    font-size: 1.5vw;
    
}
table th {
    background-color: rgba(89, 0, 255, 0.6);
}

tbody tr:nth-child(odd){
    background-color: rgba(89, 0, 255, 0.2);
}
tbody tr:nth-child(even){
    background-color: rgba(89, 0, 255, 0.4);
}


